$bgcolor-1: transparent
$bgcolor-2: transparent

$pink-color: #cb4f89

$secondary-color: #93E1D8

.pink-color
    color: $pink-color

.theme--dark.v-card > .v-card__text, .theme--dark.v-card .v-card__subtitle
    color: white